body {
  background-color: #282c34;
  overflow: hidden;
}

.App {
  text-align: center;
  max-width: 728px;
  margin: 0 auto;
}

.App header {
  background-color: #262931;
  height: 10vh;
  min-height: 50px;
  color: #b1bace;
  position: fixed;
  width: 100%;
  max-width: 728px;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 99;
  padding: 10px;
  padding-left: 25px;
  box-sizing: border-box;
}

.App section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  background-color: rgb(20, 23, 28);
}

main {
  padding: 10px;
  height: 82vh;
  margin: 10vh 0 6vh;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
}

main::-webkit-scrollbar {
  width: 0.25rem;
}

main::-webkit-scrollbar-track {
  background: #1e1e24;
}

main::-webkit-scrollbar-thumb {
  background: #b1bace;
}

h4 {
  color: #757575;
}

.send-message-form {
  height: 6vh;
  position: fixed;
  bottom: 0;
  background-color: #262931;
  width: 100%;
  max-width: 728px;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
}

.send-message-form button {
  width: 20%;
  height: 80%;
  background-color: #3c404d;
  color: #b1bace;
  padding: 0px 32px;
}

.send-message-form input {
  line-height: 1.5;
  width: 100%;
  font-size: 1.1rem;
  background: #262931;
  color: white;
  outline: none;
  border: none;
  padding: 0 10px;
  padding-left: 3%;
}

button {
  background-color: #282c34;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  cursor: pointer;
  font-size: 1.1rem;
  margin-right: 10px;
  border-radius: 10px;
}

button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

.sign-in {
  color: white;
  background: #3c404d;
  max-width: 400px;
  margin: 0 auto;
}

.sign-out {
  color: #b1bace;
  background: #3c404d;
  margin-left: auto;
  border-radius: 20px;
}

ul, li {
  text-align: left;
  list-style: none;
}

p {
  max-width: 500px;
  margin: 10px;
  line-height: 24px;
  padding: 10px 20px;
  border-radius: 25px;
  position: relative;
  color: white;
  font-size: 1.1rem;
}

.message {
  display: flex;
  align-items: center;
}

.sent {
  flex-direction: row-reverse;
}

.sent p {
  color: white;
  background: #4a525f;
  align-self: flex-end;
  margin-right: 1%;
  text-align: right;
}
.received p {
  background: #2d323b;
  color: white;
  margin-left: 1%;
  text-align: left;
}

img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin: 2px 5px;
}


.captcha-text {
  font-size: 1.3rem;
  color: #b1bace;
  margin-bottom: 20px;
}

/* Email sign-in form */
.email-sign-in-form {
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.email-sign-in-form input {
  line-height: 1.5;
  width: 50%;
  font-size: 1.1rem;
  background: #262931;
  color: white;
  outline: none;
  border: none;
  padding: 15px;
  margin: 1%;
  border-radius: 20px;
}

.email-sign-in-form button {
  color: #b1bace;
  background: #3c404d;
  border-radius: 20px;
  display: block;
  width: 25%;
  margin-top: 10px;
}

/* Sign in with Google button */
.sign-in-google {
  margin-top: 10px;
  width: 30%;

  padding: 12px 16px 12px 42px;
  border: none;
  border-radius: 3px;
  box-shadow: 0 -1px 0 rgba(0, 0, 0, .04), 0 1px 1px rgba(0, 0, 0, .25);

  color: #757575;
  font-size: 14px;
  font-weight: 500;
  font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Fira Sans","Droid Sans","Helvetica Neue",sans-serif;

  background-image: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTgiIGhlaWdodD0iMTgiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+PGcgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIj48cGF0aCBkPSJNMTcuNiA5LjJsLS4xLTEuOEg5djMuNGg0LjhDMTMuNiAxMiAxMyAxMyAxMiAxMy42djIuMmgzYTguOCA4LjggMCAwIDAgMi42LTYuNnoiIGZpbGw9IiM0Mjg1RjQiIGZpbGwtcnVsZT0ibm9uemVybyIvPjxwYXRoIGQ9Ik05IDE4YzIuNCAwIDQuNS0uOCA2LTIuMmwtMy0yLjJhNS40IDUuNCAwIDAgMS04LTIuOUgxVjEzYTkgOSAwIDAgMCA4IDV6IiBmaWxsPSIjMzRBODUzIiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNNCAxMC43YTUuNCA1LjQgMCAwIDEgMC0zLjRWNUgxYTkgOSAwIDAgMCAwIDhsMy0yLjN6IiBmaWxsPSIjRkJCQzA1IiBmaWxsLXJ1bGU9Im5vbnplcm8iLz48cGF0aCBkPSJNOSAzLjZjMS4zIDAgMi41LjQgMy40IDEuM0wxNSAyLjNBOSA5IDAgMCAwIDEgNWwzIDIuNGE1LjQgNS40IDAgMCAxIDUtMy43eiIgZmlsbD0iI0VBNDMzNSIgZmlsbC1ydWxlPSJub256ZXJvIi8+PHBhdGggZD0iTTAgMGgxOHYxOEgweiIvPjwvZz48L3N2Zz4=);
  background-color: white;
  background-repeat: no-repeat;
  background-position: 12px 11px;
}

hr {
  width: 50%;
}
